/* Universal selector */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #d4c3db;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #400857;
    color: #ffffff;

}


.navbar ul{
    display: flex;
    list-style-type: none;
     ;
}

ul a {
text-decoration: none;
color: #ffffff;
}