/* Universal selector */

:root {
    --dark-text:#14171f;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #ece9e9;
    font-family: 'Ubuntu', sans-serif;
}

/* Header */
@media screen and (max-width:768px) {
    header, nav ul, .main-content{
        flex-direction: column;
    }
    }

    
header{
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ece9e9;
    color: var();
}

/* Navbar Links */

nav ul{
    display: flex;
    list-style-type: none;
     
}

ul a {
text-decoration: none;
color: var(--dark-text);
margin: 10px;
}

/* Hero Image */
.hero-banner{
    margin-bottom: 100px;
}
.background-hero{
    display: flex;
    background-image: linear-gradient(to bottom right, rgb(39, 146, 141), rgb(121, 161, 161));
    height: 250px;
    flex-direction: row-reverse;
    align-items: center;
}
.hero-image{
    width: 200px; 
    height: 80%; 
    overflow: hidden; 
    /* border-radius: 50%;  */
}
.hero-image img {
  width: 100%;
   height: auto;
  }

  .hero-text{
    display: inline-block;
    position: relative;
    padding:30px;
    top: -70px;
    left: 427.6px;
    border: 1px solid rgb(184, 137, 19);
    font-size: larger;
    color: #ece9e9;
    font-style: italic;
  }


  /* Main content */

  .main-content{
    display: flex;
    flex-direction: row;
  }