@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,400;1,700&display=swap");

/* Universal selector */
:root {
  --dark-text: #302d2a;
  --light-color: #dad7db;
  --dark-purple: rgb(40, 5, 43);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Styles for whole page */
body {
  background-color: #dad7db;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
}
img {
  width: 100%;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  header,
  nav ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .hero-image {
    display: none;
  }
}

@media screen and (max-width: 760px) {
 .main-container > .main-content, .content-info{
    text-align: center;
    display: block;
  }
}

/* Links */
a {
  text-decoration: none;
  color: var(--dark-text);
  font-size: 1em;
}
nav ul,
.contact-me-links {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

ul a {
  margin: 15px;
  padding: 10px;
}
ul a:hover, ul .contact-me-links:hover {
  text-decoration: underline;
}
/* End of Link Styling */

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 30px 35px;
  background-color: var(--light-color);
  color: var(--dark-text);
  width: auto;
}

.header-name,
.content-headings {
  font-weight: 400;
  color: var(--dark-purple);
}
/* End of Header with navbar */

/* Hero Section */
.hero-banner {
  display: flex;
  background-image: linear-gradient(
    to bottom right,
    rgb(40, 5, 43),
    rgb(98, 69, 109)
  );
  justify-content: center;
  align-items: center;
  height: 200px;
}

.hero-image {
  width: 150px;
  height: 150px;
  background-image: url(/assets/images/IMG_3382\ \(2\).jpg);
  background-size: cover;
  border-radius: 50%;
  border: 2px solid var(--light-color);
}

.hero-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: var(--light-color);
  padding-left: 50px;
}

.main-content {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 30px;
}

.content-headings {
  border-right: solid rgba(64, 66, 66, 0.377);
  grid-row-end: auto;
  text-align: center;
  font-weight: 400;
}

.content-info {
  font-weight: 300;
  margin-left: 40px;
}

/* Work Samples Section */
.sample-work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 0 1rem;
}

.work-grid-item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.work-grid-item3 {
  grid-row-start: 2;
  grid-row-end: 3;
}
.website-label{
 color: var(--dark-purple);
 background-color: rgb(167, 163, 167);
 font-family: "Open Sans", sans-serif;
}


/* Resume Template */
a[href$=".pdf"]::after {
  content: url("/assets/images/pdf-file (1).png");
}


/* footer */
footer{
  text-align: center;
  padding: 5px;
}

