
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,400;1,700&display=swap');

/* Universal selector */

:root {
    --dark-text:#302d2a;
    --light-color: #dad7db;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:#dad7db ;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: var(--dark-text);
}
/* Header */
@media screen and (max-width:768px) {
    header, nav ul, .main-content{
        flex-direction: column;
    }
    }

    
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 30px 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--light-color);
    color: var(--dark-text);
}

.header-name{
    font-weight: 400;
}

/* Navbar Links */

nav ul , .contact-me-links{
    display: flex;
    list-style-type: none;
     
}

ul a{
    margin: 15px;
}
ul a:hover {
color: rgb(22, 95, 100);
}

/* Hero Image */
.hero-banner{
    display: flex;
    background-image: linear-gradient(to bottom right, rgb(40, 5, 43), rgb(98, 69, 109));
   justify-content: center;
    align-items: center;
}
 
.hero-image{
  width: 150px;
  height: 150px;
  background-image: url(/assets/images/IMG_3382\ \(2\).jpg);
  background-size: cover;
   border-radius: 50%;
   border: 2px solid var(--light-color);
  }

  .hero-text{
    font-family: 'Poppins' , sans-serif;
    font-size: 20px;
    color:  var(--light-color);
    
  }

  .hero-text p{
    font-style: italic;
  }

  /* Main content */
.main-container{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    gap: 1em;
    margin: 60px;
    color: var(--dark-text);
}

  .main-content{
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 30px;
  }
  
  .content-headings{
    border-right: solid rgba(64, 66, 66, 0.377);
    grid-row-end: auto;
    text-align: center;
    font-weight: 400;
  }

  .content-info{
    text-align: left;
    font-weight: 300;
    margin-left: 40px;
  }

  /* Grid Layout for sample work */

  .sample-work{
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 3, 1fr;
    gap: 16px;
  }

  .sample-work > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .main-image{
    grid-column: span 2;

  }
  .horiseon-site{
    grid-row: span 2;
  }

  /* Responsive styling for work sample images */
  @media screen and (max-width: 1024px){
    
}